In [1]:
#2017년 1월 18일 1회차

#점프투파이썬~02 문제

In [2]:
#파이썬 자료형

문제 1) 다음(Daum)의 주가가 89,000원이고 네이버(Naver)의 주가가 751,000이라고 가정하고, 
어떤 사람이 다음 주식 100주와 네이버 주식 20주를 가지고 있을 때 그 사람이 가지고 있는 주식의 총액과 을 계산하는 프로그램을 작성하세요.

In [3]:
#문제1
daum_juga = 89000
naver_juga = 751000
personA = daum_juga * 100 + naver_juga * 20
personA

23920000

문제 2) 화면에 "pizza"를 10번 출력하는 프로그램을 작성하세요(반복문 쓰지말고)

In [4]:
#문제2
print('pizza ' * 10)

pizza pizza pizza pizza pizza pizza pizza pizza pizza pizza

문제 3) a라는 변수에 'HeLLo woRlD'라는 문자열을 바인딩 하고 a의 값을 소문자로 변경해 보세요.

In [5]:
#문제3
a = 'HeLLo woRlD'
a.lower()

'hello world'

문제 4) x라는 변수에 'Transforming the target variable
Recall that many machine learning models, including linear models, make 
assumptions regarding the distribution of the input data as well as target variables. 
In particular, linear regression assumes a normal distribution.
In many real-world cases, the distributional assumptions of linear regression do not 
hold. In this case, for example, we know that the number of bike rentals can never 
be negative. This alone should indicate that the assumption of normality might be 
problematic. To get a better idea of the target distribution, it is often a good idea to 
plot a histogram of the target values.'라는 문자열을 바인딩 하고, 'linear'이 있는지 확인하세요

In [6]:
#문제4
x = '''Transforming the target variable
Recall that many machine learning models, including linear models, make 
assumptions regarding the distribution of the input data as well as target variables. 
In particular, linear regression assumes a normal distribution.
In many real-world cases, the distributional assumptions of linear regression do not 
hold. In this case, for example, we know that the number of bike rentals can never 
be negative. This alone should indicate that the assumption of normality might be 
problematic. To get a better idea of the target distribution, it is often a good idea to 
plot a histogram of the target values.'''

'linear' in x

True

---------------------------------------------------------------

2015년 9월 초의 네이버 종가는 표 3.2와 같습니다. 

표 3.2 네이버 종가

날짜	   종가
09/11	488500
09/10	500500
09/09	501000
09/08	461500
09/07	474500

--------------------------------------------------------------

문제 5)
09/11의 종가를 리스트의 첫 번째 항목으로 입력해서 naver_end_price라는 이름의 리스트를 만들어보세요.

In [7]:
#문제5
naver_end_price= [488500, 500500, 501000, 461500, 474500]
naver_end_price

[488500, 500500, 501000, 461500, 474500]

문제 6)

문제 3-1에서 만든 naver_end_price를 이용해 해당 주에서 가장 종가가 높았던 요일과 가장 종가가 낮았던 요일의 가격 차를 화면에 출력하세요.

In [8]:
#문제6
max(naver_end_price)-min(naver_end_price)

39500

문제 7)

문제 3-1에서 만든 naver_end_price를 이용해 09/10의 종가를 화면에 출력하세요.

In [9]:
#문제7
naver_end_price[1]

500500

문제 8)

문제 3-1의 표 3.2를 이용해 날짜를 딕셔너리의 키 값으로, 종가를 딕셔너리의 값으로 사용해 naver_end_price2라는 딕셔너리를 만드세요.

In [10]:
#문제8
naver_end_price2 = {
 '09/11' : 488500,
 '09/10' : 500500,
 '09/09' : 501000,
 '09/08' : 461500,
 '09/07' : 474500
}
naver_end_price2

{'09/07': 474500,
 '09/08': 461500,
 '09/09': 501000,
 '09/10': 500500,
 '09/11': 488500}

문제 9)

문제 3-6에서 만든 naver_end_price2 딕셔너리를 이용해 09/09일의 종가를 출력하세요.

In [11]:
#문제9 
naver_end_price2['09/09']

501000

문제 10)
a = 10
b = 20 일때
튜플을 사용하여 a와 b 두 변수 값을 맞바꾸세요.

In [12]:
#문제10
a = 10; b = 20;
(a,b) = (b,a)

print(a,b)

20 10